#contenido {
    border: solid 1px;
    width: 960px;
    margin: 0 auto;
}

header {
    border: solid 1px;
    margin: 5px 5px 5px 5px;
}

nav {
    border: solid 1px;
    margin: 0px 5px 5px 5px;
}

#contSection {
    border: solid 1px;
    margin: 0px 5px 5px 5px;
    overflow: hidden;
}

#contPrincipal {
    border: solid 1px;
    margin: 5px 5px 5px 5px;
    width: 700px;
    float: left;
}

article {
    border: solid 1px;
    margin: 5px 5px 5px 5px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}

article h2 {
    margin: 0 auto;
    text-align: center;
}

.contVideo {
    width: 64%;
    border: solid 1px;
    margin: 2px 2px 8px 8px;
    float: left;
}
video {
    padding: 7px 7px 7px 7px;
}

.contInfo {
    width: 32%;
    border: solid 1px;
    margin: 2px 2px 8px 8px;
    float: left;
}

#contSecundario {
    border: solid 1px;
    margin: 5px 5px 5px 0px;
    width: 225px;
    float: right;
}

footer {
    border: solid 1px;
    margin: 0px 5px 5px 5px;
}

p {
    text-align: center;
}
