header {
    border: solid 1px;
}

nav {
    border: solid 1px;
}

#contenido {
    border: solid 1px;
}

#contPri {
    border: solid 1px;
}

article {
    border: solid 1px;
}

#contSec {
    border: solid 1px;
}

footer {
    border: solid 1px;
}
