#contenido {
    border: solid 1px;
    width: 960px;
    margin: 0 auto;
}

header {
    border: solid 1px;
    margin: 5px 5px 5px 5px;
}

nav {
    border: solid 1px;
    margin: 0px 5px 5px 5px;
}

#contSection {
    border: solid 1px;
    margin: 0px 5px 5px 5px;
    overflow: hidden;
}

#contPrincipal {
    border: solid 1px;
    margin: 5px 5px 5px 5px;
    width: 700px;
    float: left;
}

article {
    border: solid 1px;
    margin: 5px 5px 5px 5px;
}

#contSecundario {
    border: solid 1px;
    margin: 5px 5px 5px 0px;
    width: 225px;
    float: right;
}

footer {
    border: solid 1px;
    margin: 0px 5px 5px 5px;
}
